<!DOCTYPE html>
<html>

    <head>
        <title> hindr. </title>
        <link rel="stylesheet" href="http://localhost:3000/landing-page-style.css">
    </head>
    
    <body>
            
        <div class="banner">

        

        </div>
        <div class="content">
            <h1>hindr.</h1>
            <br>
            <br>
            <h3>Looking for serious relationship or casual hookups? <br> You've come to the right place!</h3><br>
            <h6>no worries, we keep you anonymous at first.</h6>

            <div>
                <button type="button"> <a href="/hindr/login">proceed</a><span></span></button>

            </div>
        </div>
            
        
    </body>
    </html>